h1, h2 {
    font-weight: 700;
}

h1 {
    text-align: center;
    font-size: 35px;
}

h2{
    font-weight: 600;
    font-size: 20px;
}

.users {
    width: 45%;
    text-align: center;
    padding: 0;
    margin: 0 auto;
    list-style-type: none;

    .row {
        display: flex;

    

        .user {
            background: #F2F2F2;
            color: #19bc8b;
            width: 100%;
            // display: block;
            margin: 20px 0px 20px 20px;
            padding: 15px;

            border: 3px solid #19bc8b;

            cursor: pointer;
        }

        .user:hover {
            box-shadow: inset 100em 0 0 0 #19bc8b;
            color: #fff;  
        }

        button {
            margin: 20px 20px 20px 0px;
            padding: 15px;
        }

            a {
                color: inherit;
                text-decoration: none;
            }
    }
}

.crypto-form {
    width: 45%;
    text-align: center;
    padding: 0;
    margin: 0 auto;

    button{
        background:#19bc8b;
        color:#fff;
        border:none;
        position:relative;
        height:60px;
        font-size:1.6em;
        padding:0 2em;
        margin: 20px;
        cursor:pointer;
        transition:800ms ease all;
        outline:none;
    }
    button:hover{
        background: inherit;
        color:#19bc8b;
    }
    button:before,button:after{
        content:'';
        position:absolute;
        top:0;
        right:0;
        height:2px;
        width:0;
        background: #1AAB8A;
        transition:400ms ease all;
    }
    button:after{
        right:inherit;
        top:inherit;
        left:0;
        bottom:0;
    }
    button:hover:before,button:hover:after{
        width:100%;
        transition:800ms ease all;
    }

        a {
            color: inherit;
            text-decoration: none;
        }

}