<h1>Users</h1>
<ul class="users" *ngFor="let user of users$">
  <div class="row">
    <li class="user slide">
      <a routerLink="/users/{{user}}">
        <h2>{{user}}</h2>
      </a>
    </li>
    <button class="btn btn-danger" (click)="deleteUser(user)">
      <i class="material-icons">delete</i>
    </button>
  </div>
</ul>
<div class="crypto-form">
  <button>
    <a routerLink="/user-form">
      Add a User
    </a>  
  </button>
</div>