<div *ngIf="cryptoDetails$">
  <h1>{{username}} Crypto Details</h1>
  <table>

    <thead>
      <tr>
        <th><h2>Currency Name</h2></th>
        <th><h2>Currency Code</h2></th>
        <th><h2>EUR</h2></th>
        <th><h2>USD</h2></th>
        <th><h2>Last Updated</h2></th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let crypto of cryptoDetails$">
        <td><h3>{{ crypto.currencyName }}</h3></td>
        <td><h3>{{ crypto.currencyCode }}</h3></td>
        <td><h3>{{ crypto.lastPriceEUR }}</h3></td>
        <td><h3>{{ crypto.lastPriceUSD }}</h3></td>
        <td><h3>{{ crypto.lastRefreshed }}</h3></td>
        <td class="buttonField">
          <button class="btn btn-info" (click)="setCurrentCryptoDetails(crypto)" [disabled]="crypto.currencyName == undefined">
              <i class="material-icons">trending_up</i>
          </button>
        </td>
        <td class="buttonField">
          <button class="btn btn-danger" (click)="deleteCrypto(crypto)">
              <i class="material-icons">delete</i>
          </button>
        </td>

      </tr>
    </tbody>

  </table>
</div>