h1 {
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}

h2, h3 {
    font-weight: 600;
    font-size: 20px;
}

a {
    color: inherit;
    text-decoration: none;
}

table {

    table-layout: auto;

    th {
        height: 50px;
    }

    td {
        border-top: 2px solid #ddd;
    }

    th, td {
        padding: 15px;
        text-align: center;
    }

    // td.buttonField {
    //     background: #F2F2F2;
    //     width:5%;
    // }
}