<nav>
  <ul>
    <li>
      <a routerLink="">
        <i class="material-icons">account_box</i>
      </a>
    </li>
    <li>
      <a routerLink="cryptos">
        <i class="material-icons">attach_money</i>
      </a>
    </li>
  </ul>
</nav>