<div class="form-container">

    <h1>User Form</h1>

    <button class="btn btn-success" (click)="addQuote()">Add Currency Code</button>

    <form [formGroup]="userForm" (ngSubmit)="onSubmit()">

      <div class="form-group">
        <label for="username"><h2>Name</h2></label>
        <input type="text" formControlName="username" class="form-control" id="username" required>
        <div [hidden]="userForm.get('username').valid || userForm.get('username').pristine" class="alert alert-danger">
            Name is required!
        </div>
      </div>

      <div class="form-group" formArrayName="quotes">
        <div *ngFor="let quote of quotes.controls; let i=index">
          <label for="currencyCode"><h2>Currency Code</h2></label>
          <input type="text" class="form-control" id="currencyCode" [formControlName]="i" required>
          <div [hidden]="quote.valid || quote.pristine" class="alert alert-danger">
              Currency Code is required!
          </div>
        </div>
      </div>

      <button type="submit" class="btn btn-success" [disabled]="!userForm.valid">Submit</button>

    </form>
</div>


