.form-container {
    width: 45%;
    text-align: center;
    padding: 0;
    margin: 0 auto;

    .btn {
        height:60px;
        font-size:1.6em;
        padding:0 2em;
    }

    .form-group{
        margin: 20px;
        // padding: 15px;

        .ng-valid[required], .ng-valid.required  {
            border-left: 5px solid #42A948; /* green */
        }
          
        .ng-invalid:not(form)  {
            border-left: 5px solid #a94442; /* red */
        }
    }

}

h1 {
    font-size: 35px;
    font-weight: 700;
}

h2 {
    font-weight: 600;
    font-size: 20px;
}