<h1>All Available Crypto Currencies</h1>
<table>
  
  <thead>
    <tr>
      <th><h2>Currency Code</h2></th>
      <th><h2>Currency Name</h2></th>
    </tr>
  </thead>
  
  <tbody>
    <tr *ngFor="let crypto of cryptos$">
      <td><h3>{{ crypto.currencyCode }}</h3></td>
      <td><h3>{{ crypto.currencyName }}</h3></td>
    </tr>
  </tbody>

</table>
