@import url('https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css');

body {
    margin: 0;
    background: #F2F2F2;
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
}

#container {
   display: grid;
   grid-template-columns: 70px auto;
   height: 100%;

   #content {
        background: #F2F2F2;
        padding: 30px 50px;

        table {
            width: 100%;
        }

        th {
            height: 50px;
            border-bottom: 2px solid #ddd;
        }

        th, td {
            // border-bottom: 2px solid #ddd;
            padding: 15px;
            text-align: center;
        }

        tr:nth-child(even) {
            background-color: #dfdfdf;
        }
   }
}